<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.hpc.jcl_android">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />



    <application android:allowBackup="true" android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name" android:supportsRtl="true" android:theme="@style/AppTheme">
        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.hpc.jcl_android.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name="services.JCL_RecorderAudioService"
            android:label="JCL_RecorderAudioService" >
            <intent-filter>
                <action android:name="INICIAR_SERVER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service
            android:name="services.JCL_HostService"
            android:label="JCL_HostService" >
            <intent-filter>
                <action android:name="INICIAR_SERVER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <service
            android:name="services.JCL_RecorderPhotoService"
            android:label="JCL_RecorderPhotoService" >
            <intent-filter>
                <action android:name="INICIAR_SERVER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service
            android:name="services.JCL_NativeSensorService"
            android:label="JCL_NativeSensorService" >
            <intent-filter>
                <action android:name="INICIAR_SERVER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <receiver
            android:name="broadcasts.ReceiverActionNotification"
            android:label="ReceiverActionNotification"
            android:permission="android.permission.BROADCAST_STICKY" >
            <intent-filter>
                <action android:name="NOTIFICATION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

    </application>

</manifest>